* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button {
  cursor: pointer;
}

.section {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  gap: 10px;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
}

.findEmployee {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  .findInput {
    padding: 3px;
    border-radius: 3px;
    border: 0;
  }
  .filterBtn {
    border: 1px solid white;
    color: white;
    padding: 3px;
    background-color: transparent;
  }
}

.employeeCard {
  padding: 0 10px 0 10px;
  :hover {
    color: yellow;
    cursor: pointer;
  }
}
.employeeInfo {
  display: flex;
  width: 70%;
  justify-content: space-between;
  color: black;
}

.employeeCont {
  display: flex;
  justify-content: space-between;
}

.cardBtn {
  background-color: transparent;
  border: 0;
}
.crdBtnCont {
  display: flex;
  gap: 10px;
}

.addNewEmployee {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  padding: 15px;
  .addForm {
    display: flex;
    justify-content: space-between;
    .employeeData {
      width: 80%;
      display: flex;
      gap: 10px;
      .input {
        width: 50%;
        padding: 5px;
        border-radius: 3px;
        border: 0;
      }
    }
    .addBtn {
      border: 1px solid white;
      border-radius: 3px;
      padding: 5px;
      background-color: transparent;
    }
  }
}

.onClick {
  background-color: white;
  color: black;
}
