* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
button {
  cursor: pointer;
}

.section {
  text-align: left;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  gap: 10px;
  color: white;
}

.top {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
}

.findEmployee {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
}

.employeeCard {
  padding: 0 10px 0 10px;
  :hover {
    color: yellow;
    cursor: pointer;
    list-style-type: none;
  }
}

.addNewEmployee {
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 91, 129);
  gap: 10px;
  padding: 10px;
  border-radius: 4px;
  padding: 15px;
}
